{% extends "base.html" %}

{% block content %}

{% if db_list %}

<a href="/dbs/">Home</a> -> Applications -> {{ app.name }}

<h3>Stories on {{ name }} (<a href="/docs/feeds/topic/{{ topslug }}/">get an RSS feed for this topic</a>)</h3>

   <ul>
        {% for database in db_list %}
            <li><a href="{{ database.get_absolute_url }}">{{ database.title }}</a> (<a href="{{ database.source.get_absolute_url}}">{{ database.source }}</a>)</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No databases built using this application are available.</p>
    {% endif %}

{% endblock %}