{% extends "source_base.html" %}

{% block content %}

<h2>Source Search Results for {{term}}</h2>

{% if search_results %}
<h4>The following sources contained your search term</h4>
    <ul>
    {% for source in search_results %}
     <li><a href="{{ source.get_absolute_url }}">{{ source }}</a></li>
    {% endfor %}
    </ul>

    <p>Search again or <a href="/docs/">return to the main page</a>.</p>
<form method='post' action='http://www.thescoop.org/docs/search/source/'>
<input type='text' name='term' size='25' value=''>
</form>    <br/><br/>
    
    
{% else %}
    <p>Sorry, no results for that name. Search again or <a href="../">return to the main page</a>.</p>
<form method='post' action='http://www.thescoop.org/docs/search/source/'>
<input type='text' name='term' size='25' value=''>
</form>    <br/><br/>
{% endif %}

{% endblock %}
