{% extends "source_base.html" %}

{% block content %}

{% if source_list %}

<a href="/docs/">Home</a> -> Source

<h3>All Sources</h3>

<h5>Use the search box at top right to find sources</h5>

   <ul>
        {% for source in source_list %}
            <li><a href="{{source.get_absolute_url}}">{{ source.name }}</a> ({{ source.num_stories }}), a <a href="{{source.type.get_absolute_url}}">{{source.type}}</a> located in {% ifequal source.nation.name "USA" %} <a href="{{source.state.get_absolute_url}}">{{ source.state.statename }}</a> {% else %} <a href="{{source.nation.get_absolute_url}}">{{ source.nation }}</a> {% endifequal %}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No stories from this source are available.</p>
    {% endif %}

{% endblock %}
