{% extends "base.html" %}

{% block extrahead %}

<link rel="alternate" type="application/rss+xml" title="RSS feed" href="/docs/feeds/topic/{{ topslug }}/" />

{% endblock %}

{% block content %}

{% if story_list %}

<a href="/docs/">Home</a> -> <a href="/docs/topic/">Topics</a> -> {{ name }}

<h3>Stories on {{ name }} (<a href="/docs/feeds/topic/{{ topslug }}/">get an RSS feed for this topic</a>)</h3>

   <ul>
        {% for story in story_list %}
            <li><a href="{{story.get_absolute_url}}">{{ story.headline }}</a> (<a href="{{ story.source.get_absolute_url}}">{{ story.source }}</a>), <a href="/docs/{{ story.pubdate|date:"Y"}}/{{story.pubdate|date:"M"|lower}}/{{story.pubdate|date:"d"}}/">{{ story.pubdate|date:"F d, Y" }}</a>, posted on {{ story.postdate|date:"F d, Y" }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No stories with this topic are available.</p>
    {% endif %}

{% endblock %}